body{
    font-family: "Times New Roman", Times, serif;
}

.titulo-principal{
    padding-left: 30px;
}

#banner{
    width:100%;
}

.caja{
    
    position: relative;
    margin: 20px 40px;
}

nav{

    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 15px 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.principal{
    
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
    margin: 10px;
}

.ubicacion{
    text-align: center;
    margin: 30px;
}

.ubicacion li{
    margin: 20px;
}

.ubicacion h3{
    font-size: 20px;
}

footer{
    width:100%;
    text-align: center;
    background: url(../imagenes/bg.jpg);
    padding:40px 0px;
}
footer h2{
    text-align: center;
    color: burlywood;
    font-size: 50px;
    margin: 40px 0px 100px 0px;
}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin:10px;
}


